<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">BUS NAME</th>
        <th scope="col">ROUTS</th>
        <th scope="col">TIMES</th>
        <th scope="col">TIME</th>
        <th scope="col">TIME</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <th scope="row">1</th>
        <td class="tableContent" style="font-size: 1rem;"> MYTHREE </td>
        <td class="tableContent"> ERANAMkULAM - KOZHIKODE </td>
        <td class="tableContent"></td>
        <td></td>
      </tr>
      
    </tbody>
  </table>