<section class="home" id="home">

    <div class="image" data-aos="fade-down">
        <img src="images/home-img.svg" alt="">
    </div>

    <div class="content" data-aos="fade-up">
        <h3>TRUE BUS</h3>
        <p>We are following you</p>
            <a href="/login" class="btn" type="submit">Let's find</a>
    </div>

</section>